
/***  header and navbar Media Queries start ***/

@media (min-width: 769px) {
  .header {
  height: 0px;
  justify-content: flex-end; /* places the main header at bottom of column */
  }
  .site-logo {
  width: 140px;
  }
  #navbar { 
  margin-right: 10px;  
  margin-top: 3em; /*adds space between logo */
  flex-direction: row; /* will change to row under 769px */
  justify-content: space-between; /* evenly adds space between li */
  }
  #navbar a { 
  border-bottom-color: transparent; /* remove bottom border */
  /*margin-right: 5px; if use this cancel justify-content */
  }
}

@media (min-width: 769px) {
  .header {
  flex-direction: row; /* places nav and logo on same line */
  }
  
.site-logo {
  margin-right: auto; /* moves logo to left */
}
#navbar {
  margin-top: 0; /* removes margin above the nav items */
  align-self: center; /* positions nav verticle center of the header */
  }
#navbar li {
  margin-left: .65em; /* spacing between nav items */
  margin-right: .65em; /* spacing between nav items */
}
}

ul, li {
	margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
	  font-weight: 400;
	  text-decoration: none;
  }

/***  header and navbar Media Queries end ***/





/*** Removes 'Text Block'  ***/
@media (max-width: 1000px) {
    .image-main-text-block {
    display: none;
    }}
  /*** Removes 'Text Block'  ***/



  
  
/*** Removes 'header-container  ***/
@media (max-width: 1200px) {
  .header-container {
  display: none;
  }}
/*** Removes 'header-container'  ***/





/******* CARD START **********/
@media (min-width: 927px) {
  .hidden-card {
  visibility: hidden;
  }}

  @media (min-width: 927px) {
    .m-about-us {
    margin-top: -550px;
}}
/********* CARD END *******/





/*** ABOUT US START ***/
/*** removes images  ***/
@media (max-width: 1200px) {
    .web-image, .ui-image, .seo-image {
    display: none;
    }}

/*** adjust text column width ***/
@media (max-width: 1200px) {
    .about-ui, .about-seo, .about-web{
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 40px 40px;
    }}
/*** ABOUT US END ***/



  
/******** FOOTER START *********/
@media only screen and (min-width: 1280px) {
  .footer-container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .footer-container .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .footer-col {
    width: 33%;
  }
  .footer .footer-col h1 {
    font-size: 14px;
  }
  .footer .footer-col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .footer-col {
      width: 50%;
    }
    .footer .footer-col h1 {
      font-size: 14px;
    }
    .footer .footer-col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .footer-col {
    width: 100%;
  }
}


@media only screen and (min-width: 200px) {
.social {
  margin-bottom: -150px
}}
/******** FOOTER END *********/


