
 /* new section start */ 
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0px 0px 40px 40px;
  background-color: #bfc7b7; 
/*  background-color: rgb(191, 199, 183); */
  font-size: 1.1em;
  letter-spacing: 1px;
}

.section-left, .section-middle {
 margin: auto;
 margin-top: 0px
}

.section-left > h5, .section-middle > h5 {
color: rgb(195, 192, 192);
/* color: rgba(0, 0, 0, 0.662); */
}

@media (max-width: 768px) { /*breakpoint*/
  .section-container {
    grid-template-columns: none;
  }
}


  

  h5 {
    font-size: 16px;
    margin: 70px 0px 40px 0px;
    font-size: 1.2em;
  }

  .hr-contact {
    width: 54%; 
    margin-left: 0px; 
    opacity: 0.2;
    margin: 3px
  }

.contact-h2 {
  font-size: 3rem; 
  margin-bottom: 30px; 
  color: white;
  letter-spacing: 1px;
}

span {
  color: #a2a461;
}

.line {
    margin-bottom: 40px;
    opacity: 0.3; 
    border-bottom: 3px solid grey;
    /*border-bottom: 3px solid rgba(219, 85, 85, 0.197);*/
    width: 42%;
    border-width: 1px;
    border-style: inset;
    margin-inline-start: 40px;
    margin-inline-end: auto;
    /*
    overflow: hidden;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    */
}

  
  .txt{
    width: 300px;
    padding: 40px 40px 40px 0px;
    text-align: left;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 100px;
  }

  .far {
    color: #a2a461;
  }

  /*.contact-button {
    padding: 30px;
  }*/

  /*@media (max-width: 879px) { 
    .form-section {
      padding: 150px 40px 40px 40px;  
  }*/

  /*form container end */
  


















 



  






  