.c-img-1, .c-img-2, .c-img-3 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid lightgrey;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-content {
   text-align: center; 
   border: 1px solid #e1e1e1; 
   padding: 30px;
}

.img-content {
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    margin: 2em auto; /* (with auto) left and right margin wil set itself equally */
    }

.txt {
    color: #999999;
    margin-left: 20px;
    -webkit-font-smoothing: antialiased;
}

.list-icons {
    line-height: 40px;
    opacity: 1;
}

.img-content h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    color: #525252;
}

.btn-content:hover h2, .btn-content:hover  {
    background-color: rgb(191, 199, 183);
    transform: scale(1.1);
    color: white;
  }

.btn-content:hover {
    border: 4px solid #e1e1e1;
    margin-bottom: 20px;
    margin-top: 20px
}

  
  



















