/*** ABOUT US START ***/
.about-us-container { 
    display: grid;
    display: row;
    grid-template-columns: repeat(1fr, 12);
    grid-gap: 20px;
    background-color: #fbfbfa; 
    padding-top: 100px; 
    padding-bottom: 100px;
    line-height: 2;
  }
    
  .web-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end:1;
  }
    
  .ui-image {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .about-web {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  .about-ui {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  
  .about-seo {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  
  .seo-image {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  /*** ABOUT US END ***/