/********* ABOUT US START ***********/
.about-inner > h3 {
    color: #a2a461;
  }
  
  .about-inner {
    line-height: 2; 
    padding: 40px 40px;
  }
  /********* OVERLAY START *********/
  #overlay, #overlayUI, #overlaySEO {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
  }
  
  #text {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  #btn-about {
    border: hidden;
    color: #a2a461;
    background-color: #fbfbfa;
    font-size: inherit
  }
  /********* OVERLAY END  ***********/
  /********* ABOUT US END ***********/