#container-footer {
    min-height: 100%;
}

#footer h2 {
    color: #a2a461;
}

#footer {
    background-color: rgb(96, 92, 92);
    /*position: relative;
    clear: both;*/
    color: white;
    padding: 100px;
    line-height: 1.625;
}

#footer {
    display: grid;
    display: row;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    list-style: none;
    padding: 0;
}

.footer-column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-column-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-column-3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .footer-column-4 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;
  }

