/*** MAIN GRID CSS START **/
.wrapper {
  display: grid;
}
/*** MAIN GRID CSS END ***/



/*** ABOUT US START ***/
.about-us-container { 
  display: grid;
  display: row;
  grid-template-columns: repeat(1fr, 12);
  grid-gap: 20px;
  background-color: #fbfbfa; 
  padding-top: 100px; 
  padding-bottom: 100px;
  line-height: 2;
}
  
.web-image {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end:1;
}
  
.ui-image {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}

.about-web {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}

.about-ui {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
}

.about-seo {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 3;
}

.seo-image {
  grid-column-start: 7;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 3;
}
/*** ABOUT US END ***/






/*** FOOTER GRID START ***/
#footer {
  display: grid;
  display: row;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
}

.footer-column-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-column-2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-column-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer-column-4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}

.footer-column-5 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 2;
}
/*** FOOTER GRID END ***/

