/*** hd-container start ***/
.hd-container {
    position: relative;
    margin-bottom: 80px
  }
  
  .hd-img {
    height: 616px;
    width: 100%;
    background-size: cover;
    position: relative;
    }
    
  .hd-text-block {
    position: absolute;
    bottom: -60px;
    right: 130px;
    color: black;
    padding: 30px;
    letter-spacing: 2px; 
    text-align: center;
    background-color: #a2a461;
    opacity: 0.9;
    height: 520px
  }
  
  .hd-text-block > h1 {
    font-size: 6.7rem;
  }

  .hd-text-block > p {
    font-size: 1.2rem;
  }
  
  .hd-btn { 
    font-size: 1.2rem; 
    padding: 13px;
    background-color: rgb(148, 237, 182);
    border: 1px solid rgb(148, 237, 182);
  }
  /*** hd-container end***/
  
.intro {
  margin-bottom: 80px
}



  