/*** Removes 'Text Block'  ***/
@media (max-width: 1000px) {
    .image-main-text-block {
    display: none;
    }}
  /*** Removes 'Text Block'  ***/



/*** Removes 'header-container  ***/
@media (max-width: 1200px) {
  .header-container {
  display: none;
  }}
/*** Removes 'header-container'  ***/



/*** Removes 'images  ***/
@media (max-width: 1200px) {
    .why-use-us, .ui-design, .about-seo {
    display: none;
    }}
/*** Removes 'images  ***/

  

@media (max-width: 1200px) {
    .about-why-use-us, .about-ui, .seo{
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 0px 40px;
    }}


/******* CARD START **********/
@media (min-width: 927px) {
  .hidden-card {
  visibility: hidden;
  }}

  @media (min-width: 927px) {
    .m-about-us {
    margin-top: -550px;
}}
/********* CARD END *******/
  




