/*** Removes 'Text Block'  ***/
@media (max-width: 1000px) {
    .image-main-text-block {
    display: none;
    }}
  /*** Removes 'Text Block'  ***/



/*** Removes 'header-container  ***/
@media (max-width: 1200px) {
  .header-container {
  display: none;
  }}
/*** Removes 'header-container'  ***/





/******* CARD START **********/
@media (min-width: 927px) {
  .hidden-card {
  visibility: hidden;
  }}

  @media (min-width: 927px) {
    .m-about-us {
    margin-top: -550px;
}}
/********* CARD END *******/
  




