body { 
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/*keeps left & right margin when responsive*/
.container {
	width: 90%;
	margin: auto;
} 

.container-title {
  margin-left: 50px;
  margin-right: 50px;
}

.btn {
  color: white;
}


/********* intro start *******/
.intro {
  margin-top: 150px;
  margin-bottom: 150px;
}

.intro-header {
  line-height:1.1; 
  font-size: 3.5rem; 
  text-align: center;
}

.intro-p1 {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  font-size: 1.4rem;
  color: #525252;
}

.intro-p2 {
  margin-bottom: 100px;
  font-size: 1.5rem;
  letter-spacing: .02em;
  color: #525252;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/********* intro end *********/


/***** Header Button start ***********/
.header-btn { 
  font-size: 1.2rem; 
  padding: 13px;
  background-color: rgb(148, 237, 182);
  border: 1px solid rgb(148, 237, 182);
}
/***** Header Button end **********/


/** more about us arrow start **/
.fa-chevron-down {
  color: red;
  font-size: 50px;
  margin: 10% 48%;  
  margin-bottom: 6%
}
/** more about us arrow end **/


/*** contact us start ***/
.contact-us > p {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.contact-us > button {
  display: flex; 
  justify-content: center; 
  background-color: #a2a461;
  text-align: center;
  margin:0 auto;
  margin-top: 40px;
  padding: 25px;
  letter-spacing: 1px;
  border: 1px solid white;
  font-size: 20px; 
  color: white;
}

.contact-us {
  background-color: rgb(191, 199, 183);
  padding: 17px;
}
/*** contact us end ***/



  /**** KEEP ALL INPUT FIELDS GENERIC ****/
  /**** INPUT FIELDS *****/
  input[type=submit] {
    background-color: #a2a461;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: auto;
    font-size: 1em;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
/***** INPUT FIELDS END ****/
    




/*** OVERLAY START ***/
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/*** OVERLAY END ***/


